@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@font-face {
    font-family: "GeneralSans-Variable";
    src: url('./fonts/GeneralSans-Variable.woff2') format('woff2-variations');
    src: url('./fonts/GeneralSans-Variable.woff2') format('woff2') tech('variations');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "GeneralSans-VariableItalic";
    src: url('./fonts/GeneralSans-VariableItalic.woff2') format('woff2-variations');
    src: url('./fonts/GeneralSans-VariableItalic.woff2') format('woff2') tech('variations');
    font-weight: 200 700;
    font-display: swap;
    font-style: italic;
}

html {
  margin: -10px 15px;
  padding: 0;
  color: red;
  width: 100%;
}

a:link {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: red;
}

h1 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40pt;
}

#body {
  font-family: 'GeneralSans-Variable';
  font-weight: 400;
  font-size: 11pt;
  line-height: 8pt;
}
