@font-face {
    font-family: "General Sans Variable", sans-serif;
    src: url("https://github.com/highlyina/leeuwin/blob/main/fonts/GeneralSans-Variable.woff2") format("woff2-variations");
    src: url("https://github.com/highlyina/leeuwin/blob/main/fonts/GeneralSans-Variable.woff2") format("woff2") tech("variations");
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
}

@font-face {
    font-family: "General Sans Variable Italic", sans-serif;
    src: url("https://github.com/highlyina/leeuwin/blob/main/fonts/GeneralSans-VariableItalic.woff2") format("woff2-variations");
    src: url("https://github.com/highlyina/leeuwin/blob/main/fonts/GeneralSans-VariableItalic.woff2") format("woff2") tech("variations");
    font-style: italic;
    font-weight: 200 700;
    font-display: swap;
}

html,
body {
    box-sizing: border-box;
    margin: 5px 12px;
}

* {
    font-family: "General Sans Variable", sans-serif;
    font-weight: 440;
    font-style: normal;
    color: red;
    margin: 0;
    line-height: 125%;
}

header {
    padding-top: 150px;
    padding-bottom: 200px;
    margin-left: 20%;
    margin-right: 8%;
}

/* type formatting */
h1 {font-size: 45pt;}
h3 {font-weight: 500;}
small {padding-bottom: 15px; padding-top: 5px;}
p {font-size: 11pt;}
i {font-style: italic;}

/* adjust for smaller screens */
@media screen and (max-width: 768px){
    .project-container {flex-direction: column;}
    header {margin: 0; padding-bottom: 150px;}
    h1{font-size: 30pt;}
    .project-info {margin-right: 0;}
}

.project-container {
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 25%;
    margin-right: 30px;
    padding-bottom: 10px;
}

.project-slideshow {
    flex-grow: 1;
    width: 100%;
    margin-inline: 0;
}

/* img slideshows */
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5 {display: none}
img {width: 100%; vertical-align: middle;}
.slideshow-container {position: relative; margin: auto;}

/* next & previous buttons */
.next {right: 0;} /* Position the "next button" to the right */
.prev, .next {
  cursor: e-resize;
  position: absolute;
  height: 100%;
  top: 0;
  width: calc(50% + 4vw);
  transition: 0.6s ease;
  user-select: none;
  color: transparent;
}

/* fading animation */
.fade {-webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s;}
 @-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
 @keyframes fade {from {opacity: .4} to {opacity: 1}}
