@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@font-face {
  font-family: 'Lunchtype';
  src: url(./fonts/lunchtype22-regular-webfont.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  margin: -10px 15px;
  padding: 0;
  color: red;
  width: 100%;
}

a:link {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: red;
}

h1 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50pt;
}

#body {
  font-family: 'Lunchtype';
  font-weight: 400;
  font-size: 11pt;
  line-height: 8pt;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
