@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

@font-face {
  font-family: 'Lunchtype';
  src: url(./fonts/lunchtype22-regular-webfont.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
	margin: 10px 15px;
	padding: 0;
	color: red;
	background-color: rgba(240,240,240,1.00);
}

a:link {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: red;
}

h1 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45pt;
}

#body {
  font-family: 'Lunchtype';
  font-weight: 400;
  font-size: 11pt;
  line-height: 8pt;
}