@font-face {
    font-family: "General Sans Variable";
	src: url("../assets/fonts/GeneralSans-Variable.woff2") format("woff2-variations");
	src: url("../assets/fonts/GeneralSans-Variable.woff2") format("woff2") tech("variations");
    font-style: normal;
    font-weight: 200 700;
}

@font-face {
    font-family: "General Sans Variable Italic";
	src: url("../assets/fonts/GeneralSans-VariableItalic.woff2") format("woff2-variations");
	src: url("../assets/fonts/GeneralSans-VariableItalic.woff2") format("woff2") tech("variations");
    font-style: italic;
    font-weight: 200 700;
}

* {
    box-sizing: border-box;
	font-family: "General Sans Variable";
	font-weight: 530;
	line-height: 125%;
	color: red;
	margin: 0;
}

head,
body {
	width: 100%;
	background-color: #F0F0F0;
	padding: 0 20px;
}

i {font-family: "General Sans Variable Italic";}

header {
	padding-left: 20vw;
	height: 680px;
	display: flex;
	align-items: center;
	transition: 500ms ease;
}

h1 {
	font-size: 4vw;
	font-weight: 440;
}

h1 i {
	font-weight: 440;
	transition: 700ms ease;
}

h1 i:hover{
	font-weight: 700;
}

.headerLinks a {transition: 700ms ease;}
.headerLinks a:hover {font-weight: 700; letter-spacing: .2pt;}

@media screen and (max-width: 768px){
	h1 {font-size: 28pt;}
	.projectContainer {flex-direction: column;}
	header {padding-left: 0;}
	.projectSlideshow {height: 62vw;}
}

.projectContainer {
	display: flex;
	align-items: flex-start;
	padding-bottom: 20px;
}

.projectInfo {
	flex-basis: 25%;
	padding-bottom: 15px;
}

.projectInfo h2, small {
	margin-right: 30px;
}

.projectInfo h2 {
	padding-bottom: 5px;
}

.projectSlideshow {
	flex-grow: 1;
	width: 100%;
	min-height: 50vw;
	position: relative;
	margin: auto;
}

.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5 {display: none;}

/* next & previous buttons */
.next {right: 0;} /* position the next button to the right */
.prev, .next {
  cursor: e-resize;
  position: absolute;
  height: 100%;
  top: 0;
  width: calc(50% + 4vw);
  transition: 0.6s ease;
  user-select: none;
}

img {width: 100%;}

.fade {-webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s;}
 @-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
 @keyframes fade {from {opacity: .4} to {opacity: 1}}